body {
    margin: 0;
    padding: 0;
    background-color: #232323;
    color: #ffffff;
    cursor: default;
    font-family: 'Happy Monkey', cursive;
}
/*Global styles :D*/
.flex {
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: center;
}
.hidden-element {
    display: none;
}
:root {
    --main-width: 100%;
}
.line {
    width: 100%;
    height: 2px;
    margin: 10px 0px;
    background-color: rgb(255, 0, 0);
}
* {
    box-sizing: border-box;
}
/*End*/
.general-container {
    width: 100%;
    height: auto;
    flex-direction: column;
}
.general-box {
    width: 70%;
    flex-direction: column;
}
.header-container {
    width: var(--main-width);
    height: 75px;
    padding: 20px;
}
.header-text {
    font-size: 72px;
    font-weight: 900;
    color: #adadad;
}
.changed-container {
    width: var(--main-width);
    padding: 20px;
    min-height: calc(100vh - 194px);
}
.users-count-container {
    width: var(--main-width);
    height: 100%;
    flex-direction: column;
    font-size: 36px;
}
.users-choose {
    font-size: 24px;
    width: 70%;
    height: auto;
    flex-flow: wrap;
}
.userschoose-header {
    font-size: 52px;
    font-weight: 900;
    margin: 20px 0px;
}
.footer-container {
    width: var(--main-width);
    height: 75px;
    padding: 20px;
}
.footer-text {
    font-size: 32px;
    font-weight: 700;
    color: #adadad;
}
.user-number {
    width: 50px;
    height: 50px;
    margin: 10px;
    border: 1px solid #ffffff;
    box-shadow: 0px 0px 10px #ffffff;
    cursor: pointer;
    transition: .5s ease-in-out;
    font-weight: 900;
    font-size: 28px;
}
.user-number:hover {
    background-color: #ffffff;
    color: #000000;
    box-shadow: 0px 0px 25px #ffffff;
}
.players-container {
    width: var(--main-width);
    height: 100%;
    font-size: 36px;
    flex-direction: column;
    position: relative;
}
.players-content {
    width: 100%;
    height: 50%;
    padding: 20px;
    flex-direction: row;
    flex-flow: wrap;
}
.person {
    width: 160px;
    height: 150px;
    padding: 15px;
    flex-direction: column;
    margin: 10px;
}
.person-image {
    width: 120px;
    height: 120px;
    padding: 5px;
}
.person-name {
    font-size: 18px;
    width: 160px;
    height: 30px;
    padding: 5px;
    border: 0px;
    border-bottom: 2px solid #1b27d6;
    color: #ffffff;
    background-color: transparent;
    color: #bebebe;
    font-weight: 600;
    text-align: center;
}
::placeholder {
    text-align: center;
    color: #adadad;
    font-weight: 600;
}
.players-random-button {
    width: 160px;
    height: 170px;
    border-radius: 50%;
    padding: 5px;
    border: 80px;
    border-bottom: 5px solid rgb(131, 32, 32);
    border-top: 5px solid rgb(131, 32, 32);
    border-left: 5px solid rgb(131, 32, 32);
    border-right: 5px solid rgb(131, 32, 32);
    /*color: solid rgb(131, 32, 32);*/
    background-image: url("../img/napis.png");
    background-repeat: no-repeat;
    background-size: cover;
    cursor: pointer;
    transition: .5s ease-in-out;
    transform: scale(0.8);
}
.players-random-button:hover {
    transform: scale(0.9);
}
.players-random-button:active {
    transform: scale(1);
}
.players-overlay {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
}
.user-winner {
    width: var(--main-width);
    height: 100%;
    flex-direction: column;
}
/*Preloader styles :D*/
.preloader-container {
    background-color: #232323;
	width: 100%;
	height: 100%;
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	z-index: 100;
    transition: opacity .35s ease;
    flex-direction: column;
    font-size: 72px;
}
.preloader-container.preloader-hidding {
	opacity: 0;
}
.preloader-container.preloader-hidden {
	display: none;
}
/*End*/